@page "/books"
@using LibraryAppBlazor.Data
@using LibraryAppBlazor.Models
@using Microsoft.EntityFrameworkCore
@using LibraryAppBlazor.Components.Components
@using LibraryAppBlazor.Components.Pages.CheckOuts

@inject NavigationManager NavManager

<div class="d-flex justify-content-center">
    <div class="custom-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">Zoznam kníh</h1>
            <a class="btn btn-dark" href="book-form">Pridať knihu</a>
        </div>
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th scope="col">Názov</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Dostupnosť</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in @BookList)
                {
                    <tr>
                        <td class="align-middle">@book.Title</td>
                        <td class="align-middle">@book.Author</td>
                        <td class="align-middle">
                            <BookStatusBadge IsAvailable="@book.IsAvailable" />
                        </td>
                        <td class="align-middle text-center">
                            @if (@book.IsAvailable)
                            {
                                <button @onclick="e => OpenCheckoutModal(book.Id)" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#checkout-modal">Požičať</button>
                            }
                            else
                            {
                                <button @onclick="e => OpenCheckoutDetailModal(book.Id)" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#checkout-details-modal">Detaily výpožičky</button>
                            }
                        </td>
                        <td class="align-middle d-flex align-items-center justify-content-end">
                            <a class="btn btn-link" href="book-form/@book.Id">Upraviť</a>
                            <button class="btn btn-link" @onclick="e => DeleteBook(book.Id)">Vymazať</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="checkout-modal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Požičať knihu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label>Názov knihy</label>
                    <div class="fw-bolder">@BookToCheckout.Title</div>
                </div>
                <EditForm OnValidSubmit="@BookCheckout" Model="CheckoutData" FormName="CheckoutForm">
                    <div class="mb-3">
                        <label class="form-label" for="input-member">Čitateľ</label>
                        <select @bind="@SelectedMemberId" class="form-select" id="input-member">
                            @foreach (var member in MemberList)
                            {
                                <option value="@member.Id">@member.Firstname&nbsp;@member.Surname</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="input-checkout-date">Dátum požičania</label>
                        <InputDate class="form-control" id="input-checkout-date" TValue="DateTime" @bind-Value="@CheckoutData.CheckOutDate" />
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button @onclick="BookCheckout" type="button" class="btn btn-primary" data-bs-dismiss="modal">Uložiť</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušiť</button>
            </div>
        </div>
    </div>
</div>

<CheckoutDetailsModal @ref="childDetailsModal" />



